@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* Apply Montserrat to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
/* styles.css */
:root {
  --primary-color: #0D9488; /* Teal */
  --secondary-color: #34D399; /* Mint Green */
  --accent-color: #FACC15; /* Yellow */
  --background-color: #FFFFFF; /* White */
  --text-color: #0F172A; /* Dark Blue */
}

/* Optional: You can also define some default background and text colors globally */
body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
